html, body{
    height: 100%;
    background: black;
    color: white;
    background: url('../images/cowboy.jpg') center;
    background-repeat: no-repeat;
    background-size: auto;
}
h4{
    font-family: 'Allan', cursive;
    text-align: center;
    padding-top: 35px;
    margin-bottom: 0;
    font-weight: bold;
    text-shadow: 2px 2px black;
}
h1{
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Allan', cursive;
    font-size: 70px;
    font-weight: bold;
    color: goldenrod;
    text-shadow: 3px 3px black;
    
}
h5{
    font-family: 'Allan', cursive;
    font-size: 25px;
    color: white;
    text-shadow: 2px 2px black;
    
}
.container{
    border: 2px dashed white;
    width: 60%;
    margin-bottom: 30px;
}
#left-col{
    border-right: 2px dashed white;
    padding: 20px;
}
#right-col{
    padding: 20px;
} 
p{
    margin-left: auto;
    margin-right: auto;
    font-family: 'Allan', cursive;
    font-weight: bold;
    font-size: 20px;
}